.border {
    border: double;
    min-height: 150px;
    min-width: 300px;
}
.float-left {
    float: left;
}
.vertical-buttons{
    padding-top: 50px;
}
button {
    margin: 5px;
}
.row {
    clear: left;
}
.container {
    margin: 20px;
    clear: both;
}